<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administration</title>

    <link rel="stylesheet" href="/stylesheets/products.css" />
  </head>
  <body>
    <header>
      <h1>Administration</h1>
    </header>
    <main>
      <div class="sub-heading"><h2>Products</h2></div>
      <div class="new-container">
        <h2>New Product</h2>
        <form>
          <div>
            <label for="name">Name</label><br />
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Enter name..."
              required
              maxlength="25"
            />
          </div>
          <div>
            <label for="brand">Brand</label><br />
            <input
              type="text"
              id="brand"
              name="brand"
              placeholder="Enter brand..."
              required
              maxlength="25"
            />
          </div>

          <div>
            <label for="description">Description</label><br />
            <textarea
              name="description"
              id="description"
              rows="10"
              cols="30"
              required
            ></textarea>
          </div>

          <div>
            <label for="image">Photo</label><br />
            <input name="image" type="text" id="image" required />
          </div>
          <div>
            <label for="sku">SKU</label><br />
            <input
              type="text"
              id="sku"
              name="sku"
              pattern="[A-Z]{3}[0-9]{3}"
              placeholder="Enter the SKU..."
              required
            />
          </div>
          <div>
            <label for="price">Price</label><br />
            <input
              type="number"
              name="price"
              id="price"
              step="0.01"
              min="0"
              required
            />
          </div>

          <input type="submit" value="Add" />
        </form>
      </div>
    </main>
    <script src="/javascripts/new.js"></script>
  </body>
</html>
